{% extends "locations/layout.html" %}
{% load static %}

{% block title %}
    {{ index_type }}
{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">ATS Inventory Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item ">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'dashboard:dashboard' %}" aria-disabled="true">Dashboard</a>
				</li>
				<li class="nav-item">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'inventory:inven' %}" aria-disabled="true">Inventory&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'inventory:items' %}" aria-disabled="true">Inventory Items&nbsp;&nbsp;&nbsp;</a>
				</li><li class="nav-item">
					<span data-feather="clipboard"></span>
					<a class="nav-link" href="{% url 'equipment:equipment' %}">Equipment&nbsp;&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item ">
					<span data-feather="dollar-sign"></span>
					<a class="nav-link" href="{% url 'equipment:newmodel' %}">New Equipment&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item  active">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'locations:location' %}" aria-disabled="true">Locations&nbsp;&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item ">
					<span data-feather="dollar-sign"></span>
					<a class="nav-link" href="{% url 'assets:building' %}">Building Space&nbsp;&nbsp;</a>
				</li>
				<li class="nav-item ">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:logout' %}" aria-disabled="true">log out</a>
				</li>
				<li class="nav-item ">
					<span data-feather="log-out"></span>
					<a class="nav-link" href="{% url 'users:base' %}" aria-disabled="true">home</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
	  <div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block navbar navbar-dark bg-dark sidebar collapse" >
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand text-left sidebar-brand m-0" href="#">
				<span class="text-left d-lg-flex flex-wrap justify-content-lg-start" style="font-size: 12;">ATS Navigation</span>
				<div class="sidebar-brand-icon rotate-n-15"></div><div class="sidebar-brand-text mx-3"></div></a>
				<hr class="sidebar-divider my-0">
				<ul class="nav navbar-nav text-light nav flex-column" id="accordionSidebar">
					<li class="nav-item"><a class="nav-link" href="{% url 'dashboard:dashboard' %}"><i class="fas fa-chart-line"></i><span>&nbsp;&nbsp;&nbsp;Dashboard</span></a></li>
					<li class="nav-item"></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'accounts:invoice_item' %}"><i class="fa fa-balance-scale"></i><span>&nbsp;&nbsp;&nbsp;Invoicing</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'accounts:quote_item' %}"><i class="fa fa-address-book"></i><span>&nbsp;&nbsp;&nbsp;Quotes</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'accounts:income' %}"><i class="fa fa-credit-card"></i><span>&nbsp;&nbsp;&nbsp;Income</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'assets:assets' %}"><i class="fas fa-truck"></i><span>&nbsp;&nbsp;&nbsp;Capital Assets</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'accounts:new_expense' %}"><i class="fas fa-gas-pump"></i><span style="font-family: Nunito, sans-serif;"&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Expenses</span></a>
					<li class="nav-item"><a class="nav-link" href="{% url 'inventory:inven' %}"><i class="fa fa-barcode"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Inventory</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'equipment:equipment' %}"><i class="fa fa-cogs"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Equipment</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'client:client' %}"><i class="fa fa-user"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Clients</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'contractors:contractor' %}"><i class="fa fa-wrench"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Contractors</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'vendor:vendor' %}"><i class="fab fa-connectdevelop"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Vendors</span></a></li>
					<li class="nav-item active"><a class="nav-link" href="{% url 'locations:location' %}"><i class="far fa-building"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Locations</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'users:base' %}"><i class="fas fa-tachometer-alt"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Home</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}"><i class="far fa-sun"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Settings</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{% url 'atspublic:public' %}"><i class="fa fa-male"></i><span style="font-family: Nunito, sans-serif;">&nbsp;&nbsp;&nbsp;Website</span></a></li>
				</ul>
				<div class="text-center d-none d-md-inline"></div>
			</div>
		</nav>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h1 class="h2">Locations</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<button type="button" id = "share" class="btn btn-sm btn-outline-secondary">Share</button>
					<button type="button" id = "export" class="btn btn-sm btn-outline-secondary">Export</button>
				</div>
			</div>
		</div>
		<form action = "{% url 'locations:location' %}"  method="post">
		    {% csrf_token %}
			<div class="row">
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label>Location Type <span class="k-required"></span></label>
						<input type='hidden' name='models' data-select='_band'/>
						<select id='_type' name = "_type" value = "{{site.type}}" class="browser-default custom-select custom-select-lg mb-3" >
							{% if site == -1 %}
								<option selected>select option</option>
							{% else %}
								<option selected>{{site.type}}</option>
							{% endif %}
							<option data-desc = 'band', data-val = "CORPORATE OFFICE">CORPORATE OFFICE</option>
							<option data-desc = 'band', data-val = "REMOTE OFFICE">REMOTE OFFICE</option>
							<option data-desc = 'band', data-val = "RETAIL STORE">RETAIL STORE</option>
							<option data-desc = 'band', data-val = "RETAIL STORE">WORK SITE</option>
							<option data-desc = 'band', data-val = "FACTORY">FACTORY</option>
							<option data-desc = 'band', data-val = "STORAGE">STORAGE</option>
							<option data-desc = 'band', data-val = "VENDOR">VENDOR</option>
							<option data-desc = 'band', data-val = "CONTRACTOR">CONTRACTOR</option>
							<option data-desc = 'band', data-val = "RETAIL STORE">CUSTOMER</option>
							<option data-desc = 'band', data-val = "RETAIL STORE">CLIENT</option>
						</select>
					</div>
				</div>
				<div class="col-sm-1 col-lg-3 grid-col">
					<div class="form-group">
						<label for="_name">Company Name</label>
						<input id = "_name" name = "_name" input class="form-control" value="{{site.name}}" placeholder="Enter Company Name"  required autofocus>
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_name">Latitude</label>
						<input id = "_lat" name = "_lat" input class="form-control"  value={{site.lat}} placeholder="Enter GPS Latitude"  required>
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_name">Longitude</label>
						<input id = "_lng" name = "_lng" input class="form-control" value={{site.lng}} placeholder="Enter GPS Longitude"  required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_addr">Street address</label>
						<input id = "_addr" name = "_addr" input class="form-control" value="{{site.address}}" placeholder="Enter Street" onkeyup= "get_geo();" required>
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_city">City</label>
						<input id = "_city" name = "_city" input class="form-control" value="{{site.city}}" placeholder="Enter City" onkeyup= "get_geo();" required>
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_state">state</label>
						<input id = "_state" name="_state" input class="form-control"  value="{{site.state}}" placeholder="Enter state" onkeyup= "get_geo();" required>
					</div>
				</div>
			   <div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_zip">Zip Code</label>
						<input id = "_zip" name = "_zip" input class="form-control"  value="{{site.zip_code}}" placeholder="Enter Zip Code"  required>
					</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_phone">Phone Number</label>
						<input id = "_phone" name = "_phone" input class="form-control"  value="{{site.phone}}" placeholder="Enter phone #"  required>
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_email">Email Address</label>
						<input id = "_email" name = "_email" input class="form-control"  value="{{site.email}}" placeholder="Enter Email"  required>
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<label for="_web">Web Site</label>
						<input id = "_web" name = "_web" input class="form-control" value="{{site.website}}" placeholder="Enter website"  required>
					</div>
				</div>
				<div class="col-sm-1 col-lg-2 grid-col">
					<div class="form-group">
						<button type="submit" id = "_update" name = "_update" data-search="save" class="btn btn-warning" >Update</button>
						<button type="submit" id = "_delete" name = "_delete" data-search="save"  class="btn btn-danger">Delete</button>
					</div>
				</div>
			</div>
		 <input type="hidden" id = "_id" name = "_id" data-search="save"  value="{{location_id}}">
		 </form>
		<h2 class="text-center">Locations List</h2>
		<h4>{{site.name}},   {{site.address}}, {{site.city}}, {{site.state}}</h4>
		<!--The div element for the map -->
		<div id="map"></div>
		<input type="hidden" id = "_long" value = {{lng}}>
		<input type="hidden" id = "latitude" value = {{lat}}>
		
		<script>
			// Initialize and add the map
			function initMap() {
			  // The locationname of Uluru
			  var lat = parseFloat(document.getElementById("latitude").value)
			  var lng = parseFloat(document.getElementById("_long").value)
			  var uluru = {lat: lat, lng: lng};
			  // The map, centered at Uluru
			  var map = new google.maps.Map(
			  document.getElementById('map'), {zoom: 4, center: uluru});
			  // The marker, positioned at Uluru
			  var marker = new google.maps.Marker({position: uluru, map: map});
			}
		</script>
		<!--Load the API from the specified URL
		* The async attribute allows the browser to render the page while the API loads
		* The key parameter will contain your own API key (which is not needed for this tutorial)
		* The callback parameter executes the initMap() function
		-->
	</main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{% static 'locations/js/jquery.slim.min.js' %}"><\/script>')</script><script src="{% static 'locations/js/bootstrap.bundle.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdLJjwYFH9rnK-YPQ8zN-S09aKNinc_2Q&callback=initMap"></script>
</body>
{% endblock %}

</html>

