<HTML><HEAD><meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1255" /> </HEAD><BODY>
<style> body{background-color: #FFFFFF;} .TTL{color: #FFFFFF; background-color: #AACCFF; text-align: left; border: 1px solid #A0C0D0; padding-left: 15px; padding-right: 15px; font-weight: bold;} .HDR{color: #0099AA; background-color: #E0FFFF; text-align: left; border: 1px solid #D9E9F9; padding-left: 10px; padding-right: 10px; font-weight: normal;} .ROW0{background-color: #F0FFFF;} .ROW1{background-color: #F0F8FD;} .STR0{font-weight: normal; text-align: left; border-bottom: 1px solid #CCCCCC;} .STR0S{font-weight: normal; text-align: left; border-bottom: 1px solid #444444;} .NUM0{font-weight: normal; text-align: right; border-bottom: 1px solid #CCCCCC;} .NUM0S{font-weight: normal; text-align: right; border-bottom: 1px solid #444444;} td{padding-left: 5px; padding-right: 5px;} table{border-collapse: collapse;} </style>
<link href="styles.css" rel="stylesheet">
<div class = "test">
		<img src="logo.png" class="img-fluid"; "max-width: 100%;" height auto" ;alt="Responsive image">
 </div>
<TABLE>
<COL/><COL span="25" style="text-align: center;" /><TBODY>
<TR height="20" ><TD NOWRAP="" class="TTL">  Inventory Item Event Report  </TD><TD NOWRAP="" class="TTL">  </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Report Creation Time </TD><TD NOWRAP="" class="STR0"> 2020-03-23 </TD><TD NOWRAP="" class="STR0"> 09:31:44 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Software Version </TD><TD NOWRAP="" class="STR0"> Pro v2.21 </TD><TD NOWRAP="" class="STR0"> Licensed to  </TD><TD NOWRAP="" class="STR0">Unregistered Trial </TD></TR>
</TBODY></TABLE>

<BR><TABLE>
<TBODY>
<TR height="20" ><TD class="HDR"> Settings </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Analysis Type </TD><TD NOWRAP="" class="STR0"> Differential </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Programmer price per hour </TD><TD NOWRAP="" class="STR0"> $50 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Quality Guarantee </TD><TD NOWRAP="" class="STR0"> First Release (v1.0) 3-Sigma </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Platform Maturity </TD><TD NOWRAP="" class="STR0"> Popular Stable and Documented </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Debugging Tools </TD><TD NOWRAP="" class="STR0"> Complete system Step Emulator / VM / ICE </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Cost Model </TD><TD NOWRAP="" class="STR0"> WMFP + APPW </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Project Folder </TD><TD NOWRAP="" class="STR0"> C:\VirtualMachines\Shared\src\PCVer2_650_plusJB\ </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Previous Version Folder </TD><TD NOWRAP="" class="STR0"> C:\VirtualMachines\Shared\src\JB01_950\ </TD></TR>
</TBODY></TABLE>

<BR><TABLE>
<TBODY>
<TR height="20" ><TD class="HDR"> Project Labor Summary </TD></TR>
<TR height="20" ><TD class="SHR">  </TD><TD class="SHR"> Time in Hours </TD><TD class="SHR"> Time in Days </TD><TD class="SHR"> Raw Time in Days </TD><TD class="SHR"> Percent </TD><TD class="SHR"> Cost in $ </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Change </TD><TD NOWRAP="" class="STR0"> 497.6 </TD><TD NOWRAP="" class="STR0"> 20.7 </TD><TD NOWRAP="" class="STR0"> 86.1 </TD><TD NOWRAP="" class="STR0"> 26% </TD><TD NOWRAP="" class="STR0"> $24883 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Growth </TD><TD NOWRAP="" class="STR0"> 458.9 </TD><TD NOWRAP="" class="STR0"> 19.1 </TD><TD NOWRAP="" class="STR0"> 79.1 </TD><TD NOWRAP="" class="STR0"> 27% </TD><TD NOWRAP="" class="STR0"> $22944 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Deleted </TD><TD NOWRAP="" class="STR0"> 159.7 </TD><TD NOWRAP="" class="STR0"> 6.7 </TD><TD NOWRAP="" class="STR0"> 25.3 </TD><TD NOWRAP="" class="STR0"> 9% </TD><TD NOWRAP="" class="STR0"> $7983 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Duplicate </TD><TD NOWRAP="" class="STR0"> 37.8 </TD><TD NOWRAP="" class="STR0"> 1.6 </TD><TD NOWRAP="" class="STR0"> 4.2 </TD><TD NOWRAP="" class="STR0"> 8% </TD><TD NOWRAP="" class="STR0"> $1891 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Delta </TD><TD NOWRAP="" class="STR0"> 211.7 </TD><TD NOWRAP="" class="STR0"> 8.8 </TD><TD NOWRAP="" class="STR0"> 36.2 </TD><TD NOWRAP="" class="STR0"> 12% </TD><TD NOWRAP="" class="STR0"> $10587 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Total </TD><TD NOWRAP="" class="STR0"> 1919.2 </TD><TD NOWRAP="" class="STR0"> 80.0 </TD><TD NOWRAP="" class="STR0"> 333.3 </TD><TD NOWRAP="" class="STR0"> 100% </TD><TD NOWRAP="" class="STR0"> $95960 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Previous Total </TD><TD NOWRAP="" class="STR0"> 1707.6 </TD><TD NOWRAP="" class="STR0"> 71.1 </TD><TD NOWRAP="" class="STR0"> 297.1 </TD><TD NOWRAP="" class="STR0">  </TD><TD NOWRAP="" class="STR0"> $85378 </TD></TR>
</TBODY></TABLE>

<BR><TABLE>
<TBODY>
<TR height="20" ><TD class="HDR"> Statistical Labor Distribution (Change)</TD></TR>
<TR height="20" ><TD class="SHR">  </TD><TD class="SHR"> Percent </TD><TD class="SHR"> Time in Hours </TD><TD class="SHR"> Time in Days </TD><TD class="SHR"> Cost in $ </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Coding </TD><TD NOWRAP="" class="NUM0"> 45 </TD><TD NOWRAP="" class="NUM0"> 222.0 </TD><TD NOWRAP="" class="NUM0"> 9.3 </TD><TD NOWRAP="" class="NUM0"> 11101 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Debugging </TD><TD NOWRAP="" class="NUM0"> 34 </TD><TD NOWRAP="" class="NUM0"> 168.3 </TD><TD NOWRAP="" class="NUM0"> 7.0 </TD><TD NOWRAP="" class="NUM0"> 8413 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0S"> Testing </TD><TD NOWRAP="" class="NUM0S"> 22 </TD><TD NOWRAP="" class="NUM0S"> 107.4 </TD><TD NOWRAP="" class="NUM0S"> 4.5 </TD><TD NOWRAP="" class="NUM0S"> 5368 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> FC Flow Complexity </TD><TD NOWRAP="" class="NUM0"> 35 </TD><TD NOWRAP="" class="NUM0"> 175.4 </TD><TD NOWRAP="" class="NUM0"> 7.3 </TD><TD NOWRAP="" class="NUM0">   </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> OV Object Vocabulary </TD><TD NOWRAP="" class="NUM0"> 30 </TD><TD NOWRAP="" class="NUM0"> 149.4 </TD><TD NOWRAP="" class="NUM0"> 6.2 </TD><TD NOWRAP="" class="NUM0">   </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> OC Object Conjuration </TD><TD NOWRAP="" class="NUM0"> 14 </TD><TD NOWRAP="" class="NUM0"> 70.2 </TD><TD NOWRAP="" class="NUM0"> 2.9 </TD><TD NOWRAP="" class="NUM0">   </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> AI Arithmetic Intricacy </TD><TD NOWRAP="" class="NUM0"> 3 </TD><TD NOWRAP="" class="NUM0"> 15.6 </TD><TD NOWRAP="" class="NUM0"> 0.6 </TD><TD NOWRAP="" class="NUM0">   </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> DT Data Transfer </TD><TD NOWRAP="" class="NUM0"> 10 </TD><TD NOWRAP="" class="NUM0"> 48.7 </TD><TD NOWRAP="" class="NUM0"> 2.0 </TD><TD NOWRAP="" class="NUM0">   </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> CM Comments </TD><TD NOWRAP="" class="NUM0"> 1 </TD><TD NOWRAP="" class="NUM0"> 4.7 </TD><TD NOWRAP="" class="NUM0"> 0.2 </TD><TD NOWRAP="" class="NUM0">   </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> CS Code Structure </TD><TD NOWRAP="" class="NUM0"> 6 </TD><TD NOWRAP="" class="NUM0"> 30.9 </TD><TD NOWRAP="" class="NUM0"> 1.3 </TD><TD NOWRAP="" class="NUM0">   </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0S"> ID Inline Data </TD><TD NOWRAP="" class="NUM0S"> 1 </TD><TD NOWRAP="" class="NUM0S"> 2.7 </TD><TD NOWRAP="" class="NUM0S"> 0.1 </TD><TD NOWRAP="" class="NUM0S">   </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Entire Project </TD><TD NOWRAP="" class="NUM0"> 100 </TD><TD NOWRAP="" class="NUM0"> 497.6 </TD><TD NOWRAP="" class="NUM0"> 20.7 </TD><TD NOWRAP="" class="NUM0"> 24883 </TD></TR>
</TBODY></TABLE>

<BR><TABLE>
<TBODY>
<TR height="20" ><TD class="HDR"> Project Timestamp Measurements </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Span from </TD><TD NOWRAP="" class="NUM0"> 2009-11-10 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Span to </TD><TD NOWRAP="" class="NUM0"> 2010-09-12 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Span Raw Hours </TD><TD NOWRAP="" class="NUM0"> 7336.2 (305.7 Days) </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Span Work Hours </TD><TD NOWRAP="" class="NUM0"> 1760.0 (73.3 Days) </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Based on work hours per day </TD><TD NOWRAP="" class="NUM0"> 8.0 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Based on work days per week </TD><TD NOWRAP="" class="NUM0"> 5.0 </TD></TR>
</TBODY></TABLE>

<BR><TABLE>
<TBODY>
<TR height="20" ><TD class="HDR"> Quality Measurements</TD></TR>
<TR height="20" ><TD class="SHR">  </TD><TD class="SHR"> Current </TD><TD class="SHR"> Delta </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Code Quality Notes Total </TD><TD NOWRAP="" class="NUM0"> 116 </TD><TD NOWRAP="" class="NUM0">   </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Code Nature </TD><TD NOWRAP="" class="NUM0"> Data I/O Oriented </TD><TD NOWRAP="" class="NUM0"> Normal  </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Code to Comment Ratio (CCR) </TD><TD NOWRAP="" class="NUM0"> 38 </TD><TD NOWRAP="" class="NUM0"> -1 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Essential Comment Factor (ECF) </TD><TD NOWRAP="" class="NUM0"> 117 </TD><TD NOWRAP="" class="NUM0"> -7 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Code Structure Modularity (CSM) </TD><TD NOWRAP="" class="NUM0"> 128 </TD><TD NOWRAP="" class="NUM0"> 7 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Logic Density (LD) </TD><TD NOWRAP="" class="NUM0"> 72 </TD><TD NOWRAP="" class="NUM0"> -2 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Source Divergence Entropy (SDE) </TD><TD NOWRAP="" class="NUM0"> 51 </TD><TD NOWRAP="" class="NUM0"> -3 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Information Diversity Factor (IDF) </TD><TD NOWRAP="" class="NUM0"> 373 </TD><TD NOWRAP="" class="NUM0"> -52 </TD></TR>
<TR height="20" ><TD NOWRAP="" class="STR0"> Object Convolution Factor (OCF) </TD><TD NOWRAP="" class="NUM0"> 22 </TD><TD NOWRAP="" class="NUM0"> 0 </TD></TR>
</TBODY></TABLE>

<BR><TABLE>
<TBODY>
<TR height="20" ><TD class="HDR"> Quantitative Metrics </TD></TR>
<TR height="20" >
<TD class="SHR">  </TD>
<TD class="SHR"> Total </TD>
<TD class="SHR"> Change </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Files </TD>
<TD NOWRAP="" class="NUM0"> 54 </TD>
<TD NOWRAP="" class="NUM0"> 42 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Populated Lines</TD>
<TD NOWRAP="" class="NUM0"> 8517 </TD>
<TD NOWRAP="" class="NUM0"> 2313 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Source Lines of Code SLOC </TD>
<TD NOWRAP="" class="NUM0"> 6185 </TD>
<TD NOWRAP="" class="NUM0"> 1706 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Logical Lines of Code LLOC </TD>
<TD NOWRAP="" class="NUM0"> 5143 </TD>
<TD NOWRAP="" class="NUM0"> 1385 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Duplicate LLOC </TD>
<TD NOWRAP="" class="NUM0"> 873 </TD>
<TD NOWRAP="" class="NUM0"> 177 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Single Line Comments </TD>
<TD NOWRAP="" class="NUM0"> 2230 </TD>
<TD NOWRAP="" class="NUM0"> 495 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Multi Line Comments </TD>
<TD NOWRAP="" class="NUM0"> 184 </TD>
<TD NOWRAP="" class="NUM0"> 61 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> High Quality Comments </TD>
<TD NOWRAP="" class="NUM0"> 1983 </TD>
<TD NOWRAP="" class="NUM0"> 466 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Strings </TD>
<TD NOWRAP="" class="NUM0"> 551 </TD>
<TD NOWRAP="" class="NUM0"> 224 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> String Words </TD>
<TD NOWRAP="" class="NUM0"> 828 </TD>
<TD NOWRAP="" class="NUM0"> 403 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Numeric Constants </TD>
<TD NOWRAP="" class="NUM0"> 1671 </TD>
<TD NOWRAP="" class="NUM0"> 272 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Cyclomatic Complexity - 1 </TD>
<TD NOWRAP="" class="NUM0"> 1080 </TD>
<TD NOWRAP="" class="NUM0"> 270 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Unfinished Tasks </TD>
<TD NOWRAP="" class="NUM0"> 79 </TD>
<TD NOWRAP="" class="NUM0"> 18 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Size </TD>
<TD NOWRAP="" class="NUM0"> 442KB </TD>
<TD NOWRAP="" class="NUM0"> 52KB (Delta)</TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Max Scope Depth </TD>
<TD NOWRAP="" class="NUM0"> 8 </TD>
<TD NOWRAP="" class="NUM0"> -1 (Delta)</TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Max Scope Cyclomatic </TD>
<TD NOWRAP="" class="NUM0"> 105 </TD>
<TD NOWRAP="" class="NUM0"> 0 (Delta)</TD>
</TR>
</TBODY></TABLE>

<BR><TABLE>
<TBODY>
<TR height="20" ><TD class="HDR"> File Type Distribution </TD></TR>
<TR height="20" >
<TD class="SHR">  </TD>
<TD class="SHR"> Total </TD>
<TD class="SHR"> Previous </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> C </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> C++ </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> C# </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Java </TD>
<TD NOWRAP="" class="NUM0"> 54 </TD>
<TD NOWRAP="" class="NUM0"> 40 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> J# </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> D </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> CUDA </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> RenderScript </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> HTML </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> JavaScript </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR><TR height="20" >
<TD NOWRAP="" class="STR0"> PHP </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Objective-C </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> ActionScript </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> ActionScript-XML </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Unreal Engine Script </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> MetaTrader </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
<TR height="20" >
<TD NOWRAP="" class="STR0"> Arduino </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
<TD NOWRAP="" class="NUM0"> 0 </TD>
</TR>
</TBODY></TABLE>


<br><img src="charts_change.png"><br>

</BODY></HTML>
