django
dj-database-url
django_heroku
gunicorn
psycopg2
pytz
whitenoise
django-contrib-comments
Pillow
django-session-timeout
django-storages
django-background-tasks
pygooglevoice
django-phone-field
requests
django-user-visit==0.4
django-allauth
opencv-python
pyzbar==0.1.8
python-barcode
python-barcode[images]
cloudinary
django-cloudinary-storage
